.container2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: "flex";
  justify-content: center;
}

.inputGroup {
  text-align: center;
  margin-bottom: 3vh;
}

.paper {
  padding: 35px;
}

.form {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

.suffix {
  margin-left: 10px !important;
}

.formHeader {
  text-align: center;
  margin-bottom: 25px !important;
}

.typewrite {
    margin-left: 10vw;
}

.left{
    width: 50vw;
    margin-right: 15px;
}

.right{
    width: 50vw;
    margin-left: 15px;
}

.rightt{
    width: 17vw;
    float: right
}

.leftt{
    font-family: "Roboto";
    width: 40vw;
    float: left
}

.container3{
    font-family: "Roboto";
    margin-top: 35vh;
    width: 100vw;
    display: flex;
}

.align{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignplus{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fullw{
    width: 100vw;
}