.container2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: "flex";
  justify-content: center;
}

.inputGroup {
  text-align: center;
  margin-bottom: 3vh;
}

.paper {
  padding: 35px;
}

.form {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

.suffix {
  margin-left: 10px !important;
}

.formHeader {
  text-align: center;
  margin-bottom: 25px !important;
}

.typewrite {
    margin-left: 10vw;
}

.left{
    width: 50vw;
}

.right{
    width: 50vw
}

.rightt{
    margin-right: 10px;
    width: 17vw;
    float: right
}

.leftt{
    margin-left: 10px;
    width: 40vw;
    float: left
}