.login-button {
  background-color: #554488;
  margin-left: auto !important;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 15px !important;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.logout-button {
  background-color: #fc6d26;
  margin-left: auto !important;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 15px !important;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.logo {
  padding-right: 0.8rem;
}

.logo-container {
  display: flex;
  cursor: pointer;
}
